# Ignorar arquivos de resultado de testes de performance
resultado.json
resultado-get.txt
resultado-post.txt
results/
/.github/agents/agent_performance.agent.md
.env
.xml
.iml

# Ignorar massa de dados sensível/temporária
dados.json
data/dados.json

# Node
node_modules/

# Outros arquivos temporários
*.log
.DS_Store